// Floating utility windows
window-rule {
    match app-id="org.omaniri.bluetui|org.omaniri.impala|org.omaniri.wiremix|org.omaniri.btop|org.omaniri.terminal|org.omaniri.bash|org.codeberg.dnkl.foot|org.gnome.NautilusPreviewer|org.gnome.Evince|com.gabm.satty|omaniri|About|TUI.float|imv|mpv"
    open-floating true
    default-column-width { fixed 875; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id="xdg-desktop-portal-gtk|sublime_text|DesktopEditors|org.gnome.Nautilus"
    match title="^(Open.*Files?|Open [Ff]older.*|Save.*Files?|Save.*As|Save|All Files|.*wants to [open|save].*|[Cc]hoose.*)"
    open-floating true
    default-column-width { fixed 875; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
}

// Fullscreen screensaver
window-rule {
    match app-id="org.omaniri.screensaver"
    open-fullscreen true
    open-floating true
}

// No transparency on media windows
window-rule {
    match app-id="^(zoom|vlc|mpv|org.kde.kdenlive|com.obsproject.Studio|com.github.PintaProject.Pinta|imv|org.gnome.NautilusPreviewer)$"
    opacity 1.0
}
