spawn-sh-at-startup "omaniri-first-run"
spawn-at-startup "omaniri-powerprofiles-init"
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "hypridle"
spawn-sh-at-startup "fc-cache -f"
spawn-sh-at-startup "rm -f ${XDG_CACHE_HOME:-$HOME/.cache}/elephant/clipboard.gob && rm -rf ${XDG_CACHE_HOME:-$HOME/.cache}/elephant/clipboardimages/*"
spawn-sh-at-startup "swaybg -i ~/.config/omaniri/current/background -m fill"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
