// Defaults
include "~/.local/share/omaniri/default/niri/autostart.kdl"
include "~/.local/share/omaniri/default/niri/apps.kdl"
include "~/.local/share/omaniri/default/niri/bindings/media.kdl"
include "~/.local/share/omaniri/default/niri/bindings/clipboard.kdl"
include "~/.local/share/omaniri/default/niri/bindings/tiling.kdl"
include "~/.local/share/omaniri/default/niri/bindings/utilities.kdl"

// General
include "monitors.kdl"
include "looknfeel.kdl"
include "input.kdl"
include "bindings.kdl"
include "windowrules.kdl"
